<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- begin features -->
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                <div class="fea-box">
                    <div class="photo">
                        <img src="/assets/img/gift.png" alt="images" class="img-reponsive">
                    </div>
                    <p class="inform-ver2">
                        <span class="strong">今天的订单<br></span> 看看今天的交易
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                <div class="fea-box">
                    <div class="photo">
                        <img src="/assets/img/fly.png" alt="images" class="img-reponsive">
                    </div>
                    <p class="inform-ver2">
                        <span class="strong">运费优惠<br></span> 上千种商品
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                <div class="fea-box">
                    <div class="photo">
                        <img src="/assets/img/return.png" alt="images" class="img-reponsive">
                    </div>
                    <p class="inform-ver2">
                        <span class="strong">简便退换 <br></span> 所有出售的商品
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fea-column-inner">
                <div class="fea-box">
                    <div class="photo">
                        <img src="/assets/img/secu.png" alt="images" class="img-reponsive">
                    </div>
                    <p class="inform-ver2">
                        <span class="strong">更好的服务<br></span> 以最好的服务为荣
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end features -->
