<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- begin footer -->
<footer>
    <div class="top-footer">
        <div class="container">
            <h1 class="heading-default">更好信誉的卖家和买家</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 block-left">
                    <div class="block-footer">
                        <h2 class="heading-primary">最新消息</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                    <div class="block-footer">
                        <h2 class="heading-primary">手机和平板电脑</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                    <div class="block-footer no-padding-bottom">
                        <h2 class="heading-primary">电脑和笔记本电脑</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                </div>
                <div class="col-md-6 block-right">
                    <div class="block-footer">
                        <h2 class="heading-primary">电子产品</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                    <div class="block-footer">
                        <h2 class="heading-primary">时尚</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                    <div class="block-footer no-padding-bottom">
                        <h2 class="heading-primary">安全与方便</h2>
                        <p class="description-primary">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span>© <a href="#" title="">闲闲二手交易网站</a> - All Rights Reserved.</span>
            <ul class="payment">
                <li><a href="#"><img src="/assets/img/paypal.png" alt="images" class="img-responsive"></a></li>
                <li><a href="#"><img src="/assets/img/visa.png" alt="images" class="img-responsive"></a></li>
                <li><a href="#"><img src="/assets/img/american.png" alt="images" class="img-responsive"></a></li>
                <li><a href="#"><img src="/assets/img/mastercard.png" alt="images" class="img-responsive"></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
<!-- end footer -->