<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/admin-head"/>
<head>
    <title>闲闲二手交易网站后台 | 分类管理</title>
    <meta content="Preview page of Metronic Admin Theme #1 for editable datatable samples" name="description" />
    <link href="/assets/metronic/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/metronic/global/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" />
    <head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- 导航栏 -->
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="javascript:location.reload()" style="margin-top: 14px;margin-left: 10px">
                    <span style="font-size: 20px;">XX-Transaction</span>
                </a>
                <div class="menu-toggler sidebar-toggler" style="position: relative;bottom: -15px">
                    <span></span>
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>
        </div>
    </div>
    <!-- 功能列表 -->
    <div class="page-container">
        <div th:replace="common/admin-menu"/>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/admin/home">主页</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>分类管理</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase">分类详情表</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="btn-group" style="padding-left: 24px">
                                                <a href="/admin/category/add" class="btn sbold green"> 添加
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-1" >
                                            <div class="btn-group" style="padding-left: 24px">
                                                <button class="btn btn-danger" onclick="delSelected()"> 删除选中
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable111">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" name="firstBox" id="firstBox" class="icheckbox_minimal-grey"/></th>
                                        <th>分类编号</th>
                                        <th>分类名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href=""class="page-quick-sidebar-toggler">
    <i class="icon-login"></i>
</a>

<div class="quick-nav-overlay"></div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body" >
                <p id="modal-message">[[${message}]]&hellip;</p>
            </div>
            <div class="modal-footer">
                <input id="did" type="hidden"/>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:left">关闭</button>
                <button type="button" class="btn green" id="btnModalOK" >确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/assets/metronic/global/plugins/respond.min.js"></script>
<script src="/assets/metronic/global/plugins/excanvas.min.js"></script>
<script src="/assets/metronic/global/plugins/ie8.fix.min.js"></script>
<script src="/assets/metronic/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/scripts/app.min.js" type="text/javascript"></script>
<script src="/assets/metronic/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/metronic/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/metronic/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="/assets/metronic/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/metronic/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/metronic/pages/scripts/ui-modals.min.js" type="text/javascript"></script>
<script src="/assets/metronic/global/plugins/icheck/icheck.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- App -->
<script src="/assets/app/app.js" type="text/javascript"></script>

<script type="text/javascript">
    var _dataTable;
    var _delSelected;
    $(function () {
        var _columns = [
            {
                "data":function (row, type, val, meta) {
                    return '<input type="checkbox" name="box" id="box" class="icheckbox_minimal-grey" value="'+row.id+'"/>'
                }
            },
            {"data": "id"},
            {"data": "categoryName"},
            {
                "data": function (row, type, val, meta) {
                    return '<a href="/admin/category/update?id='+row.id+'"  class="btn purple"><i class="fa fa-edit"></i>修改</a><a href="/admin/category/delete?id='+row.id+'"  class="btn red"><i class="fa fa-times"></i>删除</a>';
                }
            }
        ];
        _dataTable = MyShopApp.initDataTables("/admin/category/page",_columns);
    });

    function delSelected() {
        _delSelected = MyShopApp.initDelSelected("/admin/category/delSelected?ids=");
    }
</script>
</body>

</html>
