<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head.html"/>
<head>
    <title>完成订单</title>
</head>
<body>
<header th:include="common/header.html"/>
<!-- header end -->
<section class="checkout-page">
    <div class="container">
        <div class="heading-sub">
            <h3 class="pull-left">购物车</h3>
            <ul class="other-link-sub pull-right">
                <li><a href="/">主页</a></li>
                <li><a class="active" href="#cart">购物车</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <ul class="breadcrumb" style="padding-left: 114px;">
            <li>
                <a href="checkout-1.html" >01. 购物车</a>
            </li>
            <li>
                <a href="checkout-2.html" class="active">02. 订单完善</a>
            </li>
            <li>
                <a href="checkout-3.html" title="">03. 支付完成</a>
            </li>
        </ul>
        <div class="orders">
            <div class="row">
                <div class="col-md-7">
                    <div class="login-required">
                        <p>返回主页 ? 点击 <a href="/" title="" class="login">这里</a></p>
                    </div>
                    <div class="billing-details">
                        <div class="billing-details-heading">
                            <h2 class="billing-title">
                                账单明细
                            </h2>
                        </div>
                        <div class="billing-details-content">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <strong>姓名 *</strong>
                                        <input type="text" name="realname" class="form-control" th:value="${user.realname}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <strong>手机号码 *</strong>
                                        <input type="text" name="phone" class="form-control" th:value="${user.phone}" readonly>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <strong>电子邮箱 </strong>
                                        <input type="text" name="email" class="form-control" th:value="${user.email}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>详细地址 *</strong>
                                        <input type="text" name="address"  class="form-control" th:value="${user.address}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="login-required">
                                <p>返回个人信息 ? 点击 <a th:href="@{'/personInfo/detail/'+${user.id}}" title="" class="login">这里</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="aside-order">
                        <h2>你的订单</h2>
                        <table class="table table-product">
                            <thead>
                            <tr>
                                <th>商品</th>
                                <th></th>
                                <th>总价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cartGood:${orderVO.orderDetails}">
                                <td class="product-name" style="width: 165px" th:text="${cartGood.goodsName}"></td>
                                <td class="product-quantity" >x [[${cartGood.buyCount}]]</td>
                                <td class="product-total" th:text="${cartGood.buyCount} * ${cartGood.goodsPrice}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="tabs-first">
                            <li><span class="text">合计:</span><span class="cart-number sub-number pull-right">￥[[${total}]]</span></li>
                            <li ><span class="text">快递:</span>
                                <div class="shipping">
                                    <div>
                                        [[${orderVO.express.expressName}]]:￥[[${orderVO.express.expressPrice}]]
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li><span class="text">总计:</span><span class="cart-number big-total-number pull-right" >￥[[${orderVO.total}]]</span></li>
                        </ul>
                        <div class="order-transfer clearfix">
                            <ul class="tabs">
                                <li class="active">
                                    <i class="icon"></i>
                                    <h4>Alipay payment
                                        <span>支付宝（中国）网络技术有限公司是国内的第三方支付平台，致力于提供“简单、安全、快速”的支付解决方案</span></h4>
                                </li>
                            </ul>
                        </div>
                        <form action="/checkout/AliPay" method="post">
                            <input type="hidden" name="orderId" th:value="${orderVO.id}"  />
                            <input type="submit" value="支付" class="btn-order"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="common/features.html"/>
<footer th:include="common/footer.html"/>

<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<script th:inline="javascript">

</script>
</body>
</html>